/*modifying the btn-danger*/

.menu-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-component {
  margin: 10px;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: rgb(192, 5, 5);
  border-color: #285e8e;
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

#uploadComponent {
  padding: 20px;
  height: 80px;
}

#fileViewer {
  border: 5px solid #cecece;
}

.bordered {
  border: 5px solid #cecece;
  padding: 15px;
  margin: 20px;
}

#answerCorrectCheckbox {
  width: 15px;
}
